.user{
	padding:5px;
	margin-bottom: 5px;
}

a{color: black;}
a:hover{text-decoration: none;}

.clear{clear: both;}

.systemName{
	padding-left: 3em;
	padding-top: 0.5em;
	padding-right: 11em;
	/*font-weight: 700;*/
	/*font-family: "微软雅黑";*/
	font-size: 1.05em;
}

#test{
	top: 45px;
	width: 200px;
	text-align: center;
}

th{
	text-align: center;
}
/*body{
	background: rgb(115,180,238);
}*/
